$font_huge: 3rem;
$font_XXXXL: 2.8rem;
$font_XXXL: 2.6rem;
$font_XXL: 2.4rem;
$font_XL: 2.2rem;
$font_L: 2rem;
$font_ML: 1.8rem;
$font_M: 1.6rem;
$font_SM: 1.4rem;
$font_S: 1.2rem;
$font_XS: 1rem;
$font_XXS: 0.8rem;
$font_tiny: 0.6rem;

$font_stadium_XL: 10rem;
$font_stadium_L: 7.5rem;
$font_stadium_ML: 5rem;
$font_stadium_M: 3rem;
$font_stadium_SM: 2rem;
$font_stadium_S: 1.5rem;
$font_stadium_XS: 1rem;